<h2>login</h2>
<form action="/users/login" method="post">
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="password">
    <input type="submit" value="INGRESAR">
</form>


<h2>usuario nuevo</h2>
<button onclick="location.href='/views/registro'">ir al registro</button>