<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src=""></script>
    <title>Document</title>
</head>
<body>
    <h2>Ingrese Producto</h2>
        <form action=" " method="post">
            Titulo :<input type="text" name="title" id="title">
            Descripcion: <input type="text" name="description" id="description">
            Precio: <input type="number" name="price" id="price">
            Miniatura: <input type="text" name="thumbnail" id="thumbnail">
            Codigo: <input type="number" name="code" id="code">
            Stock: <input type="number" name="stock" id="stock">
            <input type="submit" value="SUBIR">
        </form>

</body>
</html>